---
layout: page
title: Car Prices
description: Ideas, historical prices(from mobile.de).
background: '/img/bg-about.jpg'
---
<p>Ideas, historical prices(from <a href="http://www.mobile.de/">mobile.de</a>).</p>

<table id="car-table" class="display" style="width:100%">
{% for e in site.data.car-prices %}
    {% if forloop.first == true %}
    <thead>
    <tr>
    {% for item in e %}
        <th>{{item[0]}}</th>
    {% endfor %}
    </tr>
    </thead>
    {% endif %}
    <tr>
    {% for item in e %}
        <td>{{item[1]}}</td>
    {% endfor %}
    </tr>
    {% if forloop.first == true %}
    <tfoot>
    <tr>
    {% for item in e %}
        <th>{{item[0]}}</th>
    {% endfor %}
    </tr>
    </tfoot>
    {% endif %}
{% endfor %}
</table>

<p>Leave your comments what would You choose? Feel free to recommend some other models with powerful engines.
